name: CI/CD Pipeline

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Build Docker Image
        run: docker build -t my-calc-app .

      - name: Stop Old Container
       
        run: docker rm -f $(sudo docker ps -aq) || true

      - name: Run New Container
        run: docker run -d -p 80:80 my-calc-app